// Defined Colors

$isabelle: #f6f8f9;
$call-sign: #008f4c;
$gainsboro: #dedede;
$body: #8C8C8C;
$space: #5B5B5B;
$night: #323232;
$snow: #edf1f2;
$pastel: #cdcdcd;
$dragon: #6FC09A;
$mottle: #33A570;